<mat-toolbar class="navbar-glass">
    <div class="nav-container">

        <a routerLink="/" class="brand-logo">
            <div class="icon-sphere">
                <mat-icon>music_note</mat-icon>
            </div>
            <span class="logo-text">Kajdanka</span>
        </a>

        <span class="spacer"></span>

        @if (isRouterReady() && !isOnSongsPage()) {
        <nav class="nav-menu">
            <a mat-button routerLink="/songs">
                Pesme
            </a>
        </nav>
        }

        @if (isRouterReady() && isOnSongsPage()) {
        <div class="nav-search">
            <mat-icon class="search-icon">search</mat-icon>
            <input class="search-input" type="text" placeholder="Pretraži pesme ili izvođače..."
                [(ngModel)]="searchQuery" (keyup.enter)="search()" (keyup.escape)="clearSearch()" />
            @if (searchQuery) {
            <button class="clear-btn" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
            }
        </div>
        }

        <div class="nav-menu">

            @if (!isOnHomePage()) {
            <a mat-button routerLink="/songs/new" routerLinkActive="active-link">
                <mat-icon>add</mat-icon> Dodaj pesmu
            </a>
            }
            @if (authService.isLoggedIn()) {
            <a mat-button [routerLink]="['/profile', authService.currentUser()?.username]"
                routerLinkActive="active-link">
                <mat-icon>person</mat-icon>
                {{ authService.currentUser()?.username }}
            </a>
            }

            @if (!authService.isLoggedIn() && isOnHomePage()) {
            <a mat-button routerLink="/login">Prijavi se</a>
            <button mat-flat-button routerLink="/register">
                <mat-icon>person_add</mat-icon>
                <span>Registruj se</span>
            </button>
            }

        </div>
    </div>
</mat-toolbar>