<mat-toolbar class="navbar-glass">
    <div class="nav-container">

        <a routerLink="/" class="brand-logo">
            <div class="icon-sphere">
                <mat-icon>music_note</mat-icon>
            </div>
            <span class="logo-text">Kajdanka</span>
        </a>

        <span class="spacer"></span>

        <nav class="nav-menu">
            <a mat-button routerLink="/songs" routerLinkActive="active-link">
                Pesme
            </a>
        </nav>

        <div class="nav-menu">

            @if (authService.isLoggedIn()) {
            <button mat-button routerLink="/profile">
                <mat-icon>person</mat-icon>
                {{ authService.currentUser()?.username }}
            </button>
            }

            @if (!authService.isLoggedIn()) {
            <a mat-button routerLink="/login">Prijavi se</a>
            <button mat-flat-button routerLink="/register">
                <mat-icon>person_add</mat-icon>
                <span>Registruj se</span>
            </button>
            }

        </div>
    </div>
</mat-toolbar>