<div class="page-header">
    <div class="container">
        <div class="header-titles">
            <h1>Izmeni pesmu</h1>
            <p class="subtitle">Ažuriraj informacije ili tekst pesme.</p>
        </div>
    </div>
</div>

<div class="container form-container">

    @if (loadingPage) {
    <div class="center"><mat-spinner diameter="48" /></div>
    }

    @if (!loadingPage && song) {
    <app-song-form [initialData]="song" submitLabel="Sačuvaj izmene" [loading]="loadingSave"
        (formSubmit)="onUpdate($event)" />
    }

</div>